<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstApp">
        <activity
            android:name=".view_remaining"
            android:exported="true" />
        <activity
            android:name=".Analysis"
            android:exported="true"
            android:label="Analysis"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Budget"
            android:exported="true"
            android:label="Budget"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Report"
            android:exported="true"
            android:label="Report"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddExpense"
            android:exported="true"
            android:label="Add Expense"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>